
.instructionsWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.headerInstructions {
  font-size: 2em;
}

.instructions {
  font-size: 1.5em;
}

h2.drawer_play {
  display: none;
}

#canvasContainer {
  position: fixed;
  top: 150px;
  left: 0;
  width: 400px;
  height: 500px;
}

#canvasElement {
  width: 100%;
  height: 100%;
}
