
.instructionsWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.headerInstructions {
  font-size: 2em;
}

.instructions {
  font-size: 1.5em;
}

h2.drawer_play {
  display: none;
}
