<h1>All Drawings</h1>

<div class="main-container">
  <div class="words-list">
    <ul>
      <% @words.each do |word| %>
        <li class="word" value="<%= word.id %>">
          <%= word.word %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="gallery-container">
    <% @games.each do |game| %>
      <div class="gallery-drawing">
        <%= image_tag game.image, class: 'drawing-icon', id: game.id, alt: game.word %>
      </div>
    <% end %>
  </div>

  <!-- <div class="lightbox-container">
    <div class="modal"></div>
  </div> -->
</div>
