<h2>Instructions</h2>

<div class="instructionsWrapper">
  <div class="headerInstructions">Draw or guess the word. Click play to play with another user!</div>
  <div class="instructions drawerInstructions">As the Drawer: Draw the given word. As the Guesser: Try and guess the word that the drawer is trying to draw.</div>
  <div class=" instructions guesserInstructions">As the Guesser: Try and guess the word that the drawer is trying to draw.</div>

  <div class="playLink">
  <%= link_to 'Play', games_path, method: 'POST', class: 'playLink' %>
  </div>

</div>
