<!-- Set-up 'JS' global variable -->
<script>
  const role = 'drawer';
</script>

<div class="game_header">
  <h2 class="drawer_wait">Practice drawing while you wait for a guesser</h2>
  <h2 class="drawer_play"><%= @game.drawer.name %> you are drawing... <%= @game.word.word %>!</h2>
</div>

<button type="button" class="clearButton">Clear Canvas</button>
