<!-- Page for when the drawer is waiting -->
<script>
  const role = 'drawer';
</script>

<div class="game_header">
  <h2 class="drawer_wait">Practice drawing while you wait for a guesser</h2>
  <h2 class="drawer_play">
    <%= @game.drawer.name %> you are drawing... <span class="game_word"><%= @game.word.word %>!</span>
  </h2>
</div>

<div class="game_buttons">
  <button type="button" class="clearButton">Clear Canvas</button>
</div>
