
<h2>Instructions</h2>


<div class="instructions-wrapper">
  <div class="header-instructions">
    Draw or guess the word. Click on 'Play' to start a game with another player!
  </div>
  <div class="instructions drawer-instructions">
    As the Drawer: Draw the given word.
  </div>
  <div class=" instructions guesser-instructions">
    As the   Guesser: Try and guess the word that the drawer is trying to draw.
  </div>

  <div class="play-link">
  <%= link_to 'Play', games_path, method: 'POST', class: 'playLink' %>
  </div>
</div>
