<style>
  body {
    background_image: url(<%= @background_image.image %>);
  }
</style>

<div class="instructions-container">

  <p>Skip the boring stuff (i.e. instructions) and go straight to the game!</p>

  <div class="playButton">
    <%= link_to 'Play', games_path, method: 'POST' %>
  </div>

  <h2>Instructions</h2>

  <p>Click the play button above and you'll be paired with another player. If you are the drawer, you will have 30 seconds to sketch you're given word. If you are the guesser, you have 30 seconds to guess the given word. Easy as pie, right!</p>
</div> <!-- instructions-container -->
