<h2>My Drawings</h2>

<div class="gallery-container">

  <% if @games.present? %>
    <% @games.each do |game| %>
      <div class="gallery-drawing">
        <%= cl_image_tag game.image, class: 'drawing-icon' %>
        <span><%= game.word.word %> | Drawn on <%= game.created_at.strftime("%b %d, %Y") %></span>
      </div>
    <% end %>

  <% else %>
    <p>You don't have any drawings yet. Play a game!</p>
  <% end %>

</div>
