#canvasContainer {
  border: 2px solid black;
  margin: 0 auto;
  width: 90vw;
}

#canvasElement {
  margin: 0;
}

#saveButton, #clearButton, #nextButton {
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
  width: 70px;
}
